p{
    color: aliceblue;
}
.block{
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
    margin-bottom: 8px;
}
.Inline{
    display: inline;
    width: 200px;
    height: 200px;
    background-color: green;
    margin-bottom:8px;
}
.Inline-Block{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin-bottom: 8px;
}